@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-[#0b0f14] text-slate-100 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.glass {
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(8px) saturate(120%);
}
